@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;600&display=swap');
* {
    text-rendering: optimizeLegibility;
  }
body {
    font-family: 'Lexend Deca', sans-serif;
    color: #fff;
    margin: 0;
    background-color: #d9e3e7;
  }