.body{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  background-color: rgb(217, 227, 231);
  overflow: visible;
  padding: 50px;
  width: 100%;
  background-image: url("/snowflake1.PNG");
  background-size: 300px 300px; /* size of the image*/
  background-repeat: no-repeat;
  background-position-x: 90px;
  background-position-y: 100px;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(217, 230, 236);
  flex-wrap: wrap;
  height: 2000px;
  width: 70%;
  box-shadow: 0px 0px 20px 2px black;
  padding: 20px;
}

.container{
  display: flex;
  justify-content: center;
  justify-self: center;
  width: 70%;
  padding: 30px;
}

.tag{
  height: 30px;
  width: 100px;
  border-radius: 12px;
  color:white;
  background-color: rgb(0, 204, 255);
  opacity: 1;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.188);
  margin: 10px;
}

.tag:hover {
  opacity: 0.5;
}

.star_radio{
  display: none;
}

.star{
  cursor: pointer;
  transition: color 200ms;
  margin-top: 10px;
  margin-bottom: 50px;
}

.save_button{
  height: 60px;
  width: 100px;
  border-radius: 12px;
  color:white;
  background-color: rgba(0, 204, 255, 0.367);
  opacity: 1;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.188);
  margin-right: 10px;
  margin-top: 50px;
}

.delete_button{
  height: 60px;
  width: 100px;
  border-radius: 12px;
  color:white;
  background-color: rgba(0, 204, 255, 0.367);
  opacity: 1;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.188);
  margin-left: 10px;
  margin-top: 50px;
}

.save_button:hover{
  opacity: 0.5;
}

.delete_button:hover{
  opacity: 0.5;
}

.image_upload{
  flex-direction: horizontal;
}

.image_button{
  display: flex;
  flex-direction: horizontal;
  align-items: center;
}
.image{
  justify-self: start;
  max-width: 100%;
  max-height: 100%;
}
.image_upload{
  justify-content: flex-end;
}

.image_remove{
  justify-content: flex-end;

}

.navbar{
  display: flex;
  flex-direction: vertical;
  align-items: center;
  background-color:rgb(217, 230, 236);
  height: 80px;
}

.navbar_links{
  display: flex;
  flex-direction: horizontal;
  align-items: horizontal;

}

.navbar_item{
  color: black;
  margin-left: 40px;
}

.profile_body{
  display: flex;
  flex-direction: horizontal;
  align-items: horizontal;
  height: 1000px;
}

.recommendations{
  flex: 1;
  margin-top: 20px;
  border-right: 1px solid black;
}

.other{
  flex: 1;
}

.recommendations_list{
  height:auto;
  width:auto;
  display: flex;
  flex-direction: horizontal;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.recipe_image{
  height: 200px;
  width: 200px;
}
.recipe_card{
  align-items: center;
  border-style: solid;
  margin: 20px;
  text-align: center;
}

.recipe_info{
  display: flex;
  flex-direction: horizontal;
  margin-bottom: 20px;
  justify-content: center;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}