.page {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #d9e3e7;
  min-height: 100vh;
}
.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  user-select: none;
  padding-bottom: 40px;
  font-size: 70px;
  font-weight: 600;
}
.loginButton {
  cursor: pointer;
}
.loginButton button {
  all: unset;
  height: 40px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4c6481;
  font-weight: 600;
  background-color: #acc1ca;
  border: solid 2px #fff;
  border-radius: 8px;
}