@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;600&display=swap');

.page {
    margin: 50px 200px 0 200px;
}

.welcome {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    font-weight: 600;
    padding-bottom: 50px;
}
.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 42px;
}
.uname input {
    all: unset;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
    height: 20px;
    width: 200px;
    padding: 10px;
    background-color: #cbd2d6;
    border-radius: 8px;
    font-size: 15px;
}


.filtersCont {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.filtersCont input {
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-radius: 5px;
}
#b {
    margin-left:70px;
}

.submit {
    display: flex;
    justify-content: space-evenly;
    margin: 45px;
}

.sButton {
    font-size: 20px;
    width: 150px;
    height: 35px;
    border-radius: 5px;
    border: none;
    background-color: #8bb1c7;
    color: #ffffff;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 200;
}

.sButton:hover {
    background-color: #ffffff;
    color: #8bb1c7;
}

.image1 {
    margin-right: 20px;
}
