.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 200px 0 200px;
    color: #000;
}
.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 55px;
    font-weight: 600;
    padding-bottom: 50px;
}
.page form div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 42px;
    padding-bottom: 25px;
}
.page form div span {
    padding-bottom: 25px;
}
.uname input {
    all: unset;
    height: 20px;
    width: 125px;
    padding: 10px;
    background-color: #acc1ca;
    border: solid 2px #fff;
    border-radius: 8px;
    font-size: 15px;
}